<div class="row container-fluid">
    <div class="col-lg-12">
        <p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>
        <div class="row">
            <h1 class="col-lg-6">{{article.article_title}}</h1>
            <h3 class="col-lg-3">by:{{article.article_author}}</h3>
        </div>
        <p class="col-lg-12">{{article.article_body}}</p>
    </div>
</div>