<div class="row">
    <div class="col-lg-12">
        <h1>Blog Articles</h1>
        <p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>
        <div class="panel panel-default" ng-repeat="article in articles">
            <div class="panel-heading"><h3><a href="#/blog/{{article.article_id}}">{{article.article_title}}</a></h3></div>
        </div>

    </div>
</div>