body{
  background-color: #c0c0c0;
  }

h1{
margin-right: 0%;
  text-align: center;
  font-size: 24px;
  background-color: #a0d3e8;
  margin-bottom: 0%;
  margin-top: 0%;


}
h2{
  text-align: center;
  font-size: 20px;
  margin-bottom: 0%;
  margin-top: 0%;
}
h3{
  text-align: center;
  font-size: 18px;
  margin-bottom: 0%;
  margin-top: 0%;
  margin-right: 5%;
  margin-left: 5%;
}

nav{
  text-align: center;
  font-size: 15px;
  background-color: #a0d3e8;

}
p{
  text-align: center;
  font-size: 18px ;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

li{
  font-size: 18px ;
  margin-left: 5%;
  margin-right: 5%;
}

div.form-group{

  margin-left: 5%;
  margin-right: 5%;

 }

div.form-button{
  text-align: center;
}

label[for="question"] {
  font-size: 20px;

}
label[for="answer"]{
  font-size: 18px;
}


a{
  font-size: 18px;
  color: black;
  padding: 15px;
}
 footer{
   position: fixed;
   bottom: 0%;
 }

ol{
  font-size: 18px ;
  margin-left: 5%;
  margin-right: 5%;
}

table{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

div.hidden{
  color:#c0c0c0;
}